<aside class="sidebar">
  <h3>Blog Archive</h3>
  <ul class="year-list">
    {% assign archive = {} %}

    {% for post in site.posts %}
      {% assign year = post.date | date: "%Y" %}
      {% assign month_num = post.date | date: "%m" %}
      {% assign month = post.date | date: "%B" %}

      {% if archive[year] %}
        {% unless archive[year] contains month_num %}
          {% assign archive[year] = archive[year] | push: month_num %}
        {% endunless %}
      {% else %}
        {% assign archive = archive | merge: {{ year | jsonify }}: [month_num] %}
      {% endif %}
    {% endfor %}

    {% assign sorted_years = archive | keys | sort | reverse %}

    {% for year in sorted_years %}
      <li>
        <button class="dropdown-toggle">{{ year }}</button>
        <ul class="month-list">
          {% assign months = archive[year] | sort %}
          {% for month_num in months %}
            {% assign date_str = year | append: '-' | append: month_num | append: '-01' %}
            {% assign month_name = date_str | date: "%B" %}
            <li><a href="/blog/{{ year }}/{{ month_num }}/">{{ month_name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</aside>
