---
layout: default
---

<div class="dos-donts-container">
  <div class="column dos">
    <h2>Do</h2>
    <ul>
      {% for item in site.data.dosanddonts.dos %}
        <li>
          <strong>{{ item.title }}</strong>
          {% if item.note %}<br><small>{{ item.note }}</small>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="column donts">
    <h2>Don't</h2>
    <ul>
      {% for item in site.data.dosanddonts.donts %}
        <li>
          <strong>{{ item.title }}</strong>
          {% if item.note %}<br><small>{{ item.note }}</small>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
